@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&display=swap');
body
{
    background-color: #7644444f;
}

.upper-div
{
    background-color: #24aea713;
    width: 60%;
    height: 80px;
    display: flex ;
    justify-content: center;
    margin:auto;
    margin-bottom: 0.5%;
}

.upper-div h1
{
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    padding: 2px;
}

.selection-div
{
    width: 60%;
    padding: 0;
    margin: auto;
    margin-bottom: 0.5%;
    background-color: #24aea713;
}

.selection-div a
{
    text-decoration: none;
    color: black;
}

.selection-div li
{
    display: inline-block;
    margin: 0 5% 0 0;
    padding: 30px;
    width: auto;
    height: auto;
}

ul
{
    font-family: 'Rubik', sans-serif;
    list-style-type: none;
}

.image-div
{
    width: 60%;
    padding: 0;
    margin: auto;
    background-color: #24aea713;
}

.picture-div img
{
    width: 30%;
    height: auto;
    padding: 1.5%;
}

.picture-text p
{
    width: 30%;
    height: auto;
    padding: 1.5%;
    display: inline-block;
}